{% extends 'base.jinja2' %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block js_endpage %}
    {{ get_bundle('vendor', 'VENDOR', app['settings']['webpack_config'], True) }}
    {{ get_bundle('main', 'DEFAULT', app['settings']['webpack_config'], not app.debug) }}
{% endblock %}
