<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Project</title>
    <script src="/static/index.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
